@import "./normalize.scss";
@import "./icon.scss";
//color

.color-white{
    color: white;
}

//font-size
.fs-12{
    font-size: 12px;
}

//text-align
.text-center{
    text-align: center;
}
.ml_10 { margin-left: 10px;}  
.mr_10 { margin-right: 10px;}
.mt_28 { margin-top: 28px;}